<div class="missionContainer">
    <div>
        <div class="imgContainer">
            <img src="{{mission.links.mission_patch}}"/>
        </div>
        <div class="missionName">
            {{mission.mission_name}} #{{mission.flight_number}}
        </div>
        <div class="list">
            <div class="heading">
                <span>Mission Ids</span>
                <ng-container *ngFor="let id of mission.mission_id">
                    <li>{{id}}</li>
                </ng-container>
            </div>
            <div class="heading">
                <span>Launch Year</span>
                <span>{{mission.launch_year}}</span>
            </div>
            <div class="heading">
                <span>Successful Launch</span>
                <span>{{mission.launch_success}}</span>
            </div>
            <div class="heading">
                <span>Successful Landing</span>
                <span>{{mission.launch_site.site_name}}</span>
            </div>
        </div>
</div>